<plugin name='bootstrap-starter' version='0.1' grailsVersion='2.3 &gt; *'>
  <author>Vedu Hariths</author>
  <authorEmail>vedu@nsquaredglobal.com</authorEmail>
  <title>Twitter Bootstrap Starter Plugin</title>
  <description>This is a adaptation of the twitter bootstrap to the grails starter project. It allows for the developer to use the twitter bootstrap resources without bloat. 
</description>
  <documentation>http://grails.org/plugin/bootstrap-starter</documentation>
  <type>BootstrapStarterGrailsPlugin</type>
  <resources />
</plugin>